<div class="jumbotron jumbotron-fluid" id="landing">
  <div class="container">
    <h1 class="display-4">BookXChange</h1>
    <p class="lead">Welcome to BookXChange!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="https://ebookfriendly.com/wp-content/uploads/2012/11/Book-iPad-wallpaper-Library.jpg"
        width="250px" height="250px">
    </div>
    <div class="col">
      <p>Check out the many features BookXChange has to Offer!</p>
    </div>
  </div>
</div>