<div id="edit-review" class="container">
  <h2 class="mt-4 mb-5">Edit your review</h2>
  
  <div class="row row-eq-height">
    <div class="col-sm-3">
      <img src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg/revision/latest?cb=20180213155916"
        width="250px" height="250px">
    </div>
    <div class="col">
      <%= render 'form' %>
    </div>
  </div>

</div>