<div id="new-review" class="container">
  <h2 class="mt-4 mb-5">Add a review</h2>

  <div class="row row-eq-height">
    <div class="col-sm-3">
      <img src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg/revision/latest?cb=20180213155916"
        width="250px" height="250px">
      <button class="btn btn-success mt-3">
        Upload Image
      </button>
    </div>
    <div class="col">
      <%= render 'form' %>
    </div>
  </div>


</div>