<div id="review" class="container">
  <p class="mt-4">
    <strong>Title: </strong>
    <%= @review.title %>
  </p>
  <p>
    <strong>Rating: </strong>
    <%= @review.rating %>
  </p>
  <p>
    <strong>Author: </strong>
    <%= @review.author %>
  </p>
  <p>
    <strong>Review:</strong>
    <%= @review.text %>
  </p>
</div>